In [106]:
%load_ext autoreload
%autoreload 2
%cd /group/transreg/sathi/DeepDifE 

import pickle
import importlib
import esparto
import optuna
import numpy as np
import pandas as pd
from evoaug_tf import evoaug, augment
from src.diff_expression_model import get_model, get_siamese_model, post_hoc_conjoining, get_auroc
from skopt.utils import use_named_args

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
/storage/nas6/group/biocomp/projects/transreg/sathi/DeepDifE

## Prepare the data

For now we start from this data pickle as I'm not aware how Helder did DE analysis and generated the labels

In [107]:
ppath = "/group/transreg/heopd/dlpipe/results/ath/aba/dlresults/predetermined_dataset/dataset_solid_chrome.pkl"
with open(ppath, 'rb') as f:
    data = pickle.load(f)

In [108]:
data.columns

Index(['Category', 'GeneFamily', 'seqs', 'ohs', 'rcohs', 'ohsDuo',
       'in_original_balanced', 'set', 'npshap-single', 'npshap-posthoc'],
      dtype='object')

In [109]:
data

,Category,GeneFamily,seqs,ohs,rcohs,ohsDuo,in_original_balanced,set,npshap-single,npshap-posthoc
geneID,,,,,,,,,,
AT4G27120,0,HOM04D000881,TAGAGAAGACAAGCGGTTATTTCGTAATTTCCCAGCGACTTTGAAA...,"[[0, 0, 0, 1], [1, 0, 0, 0], [0, 0, 1, 0], [1,...","[[1, 0, 0, 0], [0, 0, 1, 0], [0, 0, 1, 0], [0,...","[[[0, 0, 0, 1], [1, 0, 0, 0], [0, 0, 1, 0], [1...",True,train,"[[[[-0.00029412], [0.00011191], [0.00071743], ...","[[[[-0.00024759], [0.00013361], [0.00015087], ..."
AT4G19600,0,HOM04D000740,GTCAAGTAGTGAAATCAAGGTGTGAAGTAAGCTGAGGACAGATAAT...,"[[0, 0, 1, 0], [0, 0, 0, 1], [0, 1, 0, 0], [1,...","[[0, 0, 1, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,...","[[[0, 0, 1, 0], [0, 0, 0, 1], [0, 1, 0, 0], [1...",True,valid,"[[[[0.00049611], [0.00069235], [0.00377408], [...","[[[[0.00051932], [0.00032187], [0.00027891], [..."
AT3G60880,0,HOM04D003119,AGTTGATATTGAATGAAATCTTCATGTTTTTTGATAAATGATTATA...,"[[1, 0, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 0, 1, 0], [1, 0, 0, 0], [0,...","[[[1, 0, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0...",True,valid,"[[[[-0.00030243], [-1.08283739e-05], [0.000359...","[[[[-0.00031496], [-8.34961975e-05], [0.000132..."
AT5G06960,0,HOM04D000319,CACTTGTCAGATTCTTCTTACCAAATCCATCAACAAATAAGCAAAT...,"[[0, 1, 0, 0], [1, 0, 0, 0], [0, 1, 0, 0], [0,...","[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [1,...","[[[0, 1, 0, 0], [1, 0, 0, 0], [0, 1, 0, 0], [0...",True,train,"[[[[0.00254294], [0.00639127], [0.00152307], [...","[[[[0.00208253], [0.0018626], [0.00023493], [0..."
AT1G14890,0,HOM04D000273,TTGATATAACAGATTCAACACTAAAAATGAGTAAAATCTAAAAAAG...,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 1, 0], [1,...","[[0, 0, 0, 1], [1, 0, 0, 0], [0, 0, 0, 1], [1,...","[[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 1, 0], [1...",True,valid,"[[[[-5.23597009e-05], [0.00045373], [0.0003575...","[[[[0.00051831], [0.00050734], [4.30682958e-05..."
...,...,...,...,...,...,...,...,...,...,...
AT5G64230,1,HOM04D003278,AAGAAAGAAAAACCGTACATAAACACCCATCTGGTATACCATCGTC...,"[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [1,...","[[0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [1...",True,test,"[[[[-1.85048248e-05], [5.31432997e-05], [0.000...","[[[[0.00034249], [0.00039158], [1.82568183e-05..."
AT5G64780,1,HOM04D002552,TTTTAGAAAGAAGAAGAAGGATTATTGCCTTATTGGTGAAGGGAAG...,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 0, 1, 0], [1, 0, 0, 0], [0,...","[[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 0, 1], [0...",True,train,"[[[[9.53665585e-05], [0.00032812], [0.00046541...","[[[[-5.87131144e-05], [6.68894427e-05], [6.172..."
AT4G30470,1,HOM04D000082,TATGTACAGTCTCTACATTTTTTCAAATACATTTTTTTCTTTTTCA...,"[[0, 0, 0, 1], [1, 0, 0, 0], [0, 0, 0, 1], [0,...","[[1, 0, 0, 0], [0, 0, 1, 0], [0, 0, 1, 0], [0,...","[[[0, 0, 0, 1], [1, 0, 0, 0], [0, 0, 0, 1], [0...",True,test,"[[[[0.00061825], [6.60565856e-05], [5.89712399...","[[[[0.00044855], [6.3632986e-05], [0.00018469]..."
AT3G51895,1,HOM04D000270,TGGTAAATAATTAAATATATAAGAACATTATTCTAAAGCGTTGAAT...,"[[0, 0, 0, 1], [0, 0, 1, 0], [0, 0, 1, 0], [0,...","[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 1, 0], [1,...","[[[0, 0, 0, 1], [0, 0, 1, 0], [0, 0, 1, 0], [0...",True,train,"[[[[-0.00021527], [0.00037615], [0.0002829], [...","[[[[-0.00010363], [0.00015631], [0.0001], [0.0..."
AT2G35585,1,HOM04D004118,TTTTGCCACTGCTGGCTCTGATGGTGCTTTCAATTTCTAGGACAAG...,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 0, 1], [0,...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 1, 0, 0], [0,...","[[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 0, 1], [0...",True,train,"[[[[0.00069553], [0.00023614], [0.00080674], [...","[[[[0.00047114], [9.892659e-05], [0.00010585],..."

In [110]:
data["set"].value_counts()

train    1900
valid     257
test      241
Name: set, dtype: int64

To show how to subdivide the dataset into train-test split we only take the following columns

In [111]:
dataset = data.reset_index()
dataset = dataset[["geneID", "Category", "GeneFamily", "seqs"]]
dataset.rename(columns={"geneID":"GeneID", "Category":"Label", "seqs": "Sequence"}, inplace=True)

In [112]:
dataset

,GeneID,Label,GeneFamily,Sequence
0,AT4G27120,0,HOM04D000881,TAGAGAAGACAAGCGGTTATTTCGTAATTTCCCAGCGACTTTGAAA...
1,AT4G19600,0,HOM04D000740,GTCAAGTAGTGAAATCAAGGTGTGAAGTAAGCTGAGGACAGATAAT...
2,AT3G60880,0,HOM04D003119,AGTTGATATTGAATGAAATCTTCATGTTTTTTGATAAATGATTATA...
3,AT5G06960,0,HOM04D000319,CACTTGTCAGATTCTTCTTACCAAATCCATCAACAAATAAGCAAAT...
4,AT1G14890,0,HOM04D000273,TTGATATAACAGATTCAACACTAAAAATGAGTAAAATCTAAAAAAG...
...,...,...,...,...
2393,AT5G64230,1,HOM04D003278,AAGAAAGAAAAACCGTACATAAACACCCATCTGGTATACCATCGTC...
2394,AT5G64780,1,HOM04D002552,TTTTAGAAAGAAGAAGAAGGATTATTGCCTTATTGGTGAAGGGAAG...
2395,AT4G30470,1,HOM04D000082,TATGTACAGTCTCTACATTTTTTCAAATACATTTTTTTCTTTTTCA...
2396,AT3G51895,1,HOM04D000270,TGGTAAATAATTAAATATATAAGAACATTATTCTAAAGCGTTGAAT...
2397,AT2G35585,1,HOM04D004118,TTTTGCCACTGCTGGCTCTGATGGTGCTTTCAATTTCTAGGACAAG...

## Phylo augmentation

In [113]:
phylo_augmentation_base_path = "/group/transreg/sathi/phyloAugData/promotors_helder/output_filtered/"
species_fasta_files = [
			"ath-an1.tss.fasta",
			"ath-c24.tss.fasta",
			"ath-cvi.tss.fasta",
			"ath-eri.tss.fasta",
			"ath-kyo.tss.fasta",
			"ath-ler.tss.fasta",
			"ath-sha.tss.fasta"
]

In [114]:
from Bio import SeqIO

sequence_list = []
gene_id_list = []
label_list = []
species_list = []
for species_fasta in species_fasta_files:
	fasta_path = f"{phylo_augmentation_base_path}{species_fasta}"
	fasta_sequences = SeqIO.parse(open(fasta_path),'fasta')
	print(f"File: {fasta_path} done!")
	for fasta in fasta_sequences:
		name, sequence = fasta.id, str(fasta.seq)
		
		# The label is stored inside the id name (e.g. >ATERI-4G42060_1), split these
		gene_id = name.split("_")[0]
		label = name.split("_")[1]
		species = species_fasta.split(".")[0]

		gene_id_list.append(gene_id)
		sequence_list.append(sequence)
		label_list.append(label)
		species_list.append(species)

File: /group/transreg/sathi/phyloAugData/promotors_helder/output_filtered/ath-an1.tss.fasta done!
File: /group/transreg/sathi/phyloAugData/promotors_helder/output_filtered/ath-c24.tss.fasta done!
File: /group/transreg/sathi/phyloAugData/promotors_helder/output_filtered/ath-cvi.tss.fasta done!
File: /group/transreg/sathi/phyloAugData/promotors_helder/output_filtered/ath-eri.tss.fasta done!
File: /group/transreg/sathi/phyloAugData/promotors_helder/output_filtered/ath-kyo.tss.fasta done!
File: /group/transreg/sathi/phyloAugData/promotors_helder/output_filtered/ath-ler.tss.fasta done!
File: /group/transreg/sathi/phyloAugData/promotors_helder/output_filtered/ath-sha.tss.fasta done!

In [115]:
phylo_aug_df = pd.DataFrame({"GeneID": gene_id_list, "Label": label_list, "Sequence": sequence_list, "Species": species_list})

In [116]:
phylo_aug_df

,GeneID,Label,Sequence,Species
0,ATAN-3G78750,1,TTCAGGAGATTTTTGTTATCTTTGGTGAAAATAGAGTCAAACTCGG...,ath-an1
1,ATAN-3G15180,0,CAGAGTCACATCGTACATGCCATTGGTTCCAACAGAGAGGATCTCA...,ath-an1
2,ATAN-3G66750,0,CTTGACTTAATCCTCAAAACCAAATCTAACCTTAACAAGGAAAGTC...,ath-an1
3,ATAN-3G40170,0,ATATAAAAAGTAGACTCAAAATGCCTTTTTATTATTATTTTCGGCA...,ath-an1
4,ATAN-5G66410,1,AAGCAAAAAAGCTATTATCGTCCCATTGTGATATGTTTGAATTTTT...,ath-an1
...,...,...,...,...
13591,ATSHA-1G32710,0,TCAACGAATAAGGAATTCAAAAAGGAGCTCAAAATCGAAAAAGATC...,ath-sha
13592,ATSHA-1G17160,1,AGTCTTGAAAAGTTGACCTAATTTAGATCAAATTAAGGTTAACTAC...,ath-sha
13593,ATSHA-2G55860,0,TTGTCTCTATTATCGAATCTTATACTAACATCTTAGTTAGTACATA...,ath-sha
13594,ATSHA-5G86510,0,AGATTTCCGTCGGTCTATTTATTTATTATCTTTAATTTTCAGTATC...,ath-sha
13595,ATSHA-1G29120,1,AAATTTTAAATCATTAAAACACTACTCATACCCCCACTAGGCACTA...,ath-sha

### Get gene family of the original ortholog

In [117]:
base_dir_ortholog = "/group/transreg/sathi/phyloAugData/promotors_helder/data/orthologs/"
ortholog_files = {
			"ath-aar":"ath_aar.txt",
			"ath-aly":"ath_aly.txt",
			"ath-an1":"ath_ath-an1.txt",
			"ath-c24":"ath_ath-c24.txt",
			"ath-cvi":"ath_ath-cvi.txt",
			"ath-eri":"ath_ath-eri.txt",
			"ath-kyo":"ath_ath-kyo.txt",
			"ath-ler":"ath_ath-ler.txt",
			"ath-sha":"ath_ath-sha.txt",
			"ath-ath":"ath_ath.txt",
			"ath-chi":"ath_chi.txt",
			"ath-cpa":"ath_cpa.txt",
			"ath-cru":"ath_cru.txt",
			"ath-esa":"ath_esa.txt",
			"ath-spa":"ath_spa.txt",
			"ath-tha":"ath_tha.txt"
			}

In [118]:
f"{base_dir_ortholog}{ortholog_files['ath-aar']}"

'/group/transreg/sathi/phyloAugData/promotors_helder/data/orthologs/ath_aar.txt'

In [119]:
phylo_aug_df

,GeneID,Label,Sequence,Species
0,ATAN-3G78750,1,TTCAGGAGATTTTTGTTATCTTTGGTGAAAATAGAGTCAAACTCGG...,ath-an1
1,ATAN-3G15180,0,CAGAGTCACATCGTACATGCCATTGGTTCCAACAGAGAGGATCTCA...,ath-an1
2,ATAN-3G66750,0,CTTGACTTAATCCTCAAAACCAAATCTAACCTTAACAAGGAAAGTC...,ath-an1
3,ATAN-3G40170,0,ATATAAAAAGTAGACTCAAAATGCCTTTTTATTATTATTTTCGGCA...,ath-an1
4,ATAN-5G66410,1,AAGCAAAAAAGCTATTATCGTCCCATTGTGATATGTTTGAATTTTT...,ath-an1
...,...,...,...,...
13591,ATSHA-1G32710,0,TCAACGAATAAGGAATTCAAAAAGGAGCTCAAAATCGAAAAAGATC...,ath-sha
13592,ATSHA-1G17160,1,AGTCTTGAAAAGTTGACCTAATTTAGATCAAATTAAGGTTAACTAC...,ath-sha
13593,ATSHA-2G55860,0,TTGTCTCTATTATCGAATCTTATACTAACATCTTAGTTAGTACATA...,ath-sha
13594,ATSHA-5G86510,0,AGATTTCCGTCGGTCTATTTATTTATTATCTTTAATTTTCAGTATC...,ath-sha
13595,ATSHA-1G29120,1,AAATTTTAAATCATTAAAACACTACTCATACCCCCACTAGGCACTA...,ath-sha

In [120]:
lookup_table = {}
for orthologs in ortholog_files.values():
	with open(f"{base_dir_ortholog}{orthologs}", 'r') as file:
		for line in file:
			# Split each line by tab
			columns = line.strip().split('\t')
			if len(columns) >= 2:  # Ensure there are at least two columns
				key = columns[1]
				value = columns[0]
				lookup_table[key] = value

In [121]:
phylo_aug_df["Ortholog"] = phylo_aug_df["GeneID"].map(lookup_table)

In [122]:
phylo_aug_df

,GeneID,Label,Sequence,Species,Ortholog
0,ATAN-3G78750,1,TTCAGGAGATTTTTGTTATCTTTGGTGAAAATAGAGTCAAACTCGG...,ath-an1,AT3G60150
1,ATAN-3G15180,0,CAGAGTCACATCGTACATGCCATTGGTTCCAACAGAGAGGATCTCA...,ath-an1,AT3G05510
2,ATAN-3G66750,0,CTTGACTTAATCCTCAAAACCAAATCTAACCTTAACAAGGAAAGTC...,ath-an1,AT3G49100
3,ATAN-3G40170,0,ATATAAAAAGTAGACTCAAAATGCCTTTTTATTATTATTTTCGGCA...,ath-an1,AT3G27150
4,ATAN-5G66410,1,AAGCAAAAAAGCTATTATCGTCCCATTGTGATATGTTTGAATTTTT...,ath-an1,AT5G45310
...,...,...,...,...,...
13591,ATSHA-1G32710,0,TCAACGAATAAGGAATTCAAAAAGGAGCTCAAAATCGAAAAAGATC...,ath-sha,AT1G21200
13592,ATSHA-1G17160,1,AGTCTTGAAAAGTTGACCTAATTTAGATCAAATTAAGGTTAACTAC...,ath-sha,AT1G07430
13593,ATSHA-2G55860,0,TTGTCTCTATTATCGAATCTTATACTAACATCTTAGTTAGTACATA...,ath-sha,AT2G36740
13594,ATSHA-5G86510,0,AGATTTCCGTCGGTCTATTTATTTATTATCTTTAATTTTCAGTATC...,ath-sha,AT5G61970
13595,ATSHA-1G29120,1,AAATTTTAAATCATTAAAACACTACTCATACCCCCACTAGGCACTA...,ath-sha,AT1G17940

In [123]:
phylo_aug_df = pd.merge(phylo_aug_df, dataset[["GeneID", "GeneFamily"]], left_on="Ortholog", right_on="GeneID", how="left")

In [124]:
phylo_aug_df.drop("GeneID_y", axis=1, inplace=True)
phylo_aug_df.rename(columns={"GeneID_x": "GeneID"}, inplace=True)
phylo_aug_df

,GeneID,Label,Sequence,Species,Ortholog,GeneFamily
0,ATAN-3G78750,1,TTCAGGAGATTTTTGTTATCTTTGGTGAAAATAGAGTCAAACTCGG...,ath-an1,AT3G60150,HOM04D006128
1,ATAN-3G15180,0,CAGAGTCACATCGTACATGCCATTGGTTCCAACAGAGAGGATCTCA...,ath-an1,AT3G05510,HOM04D002504
2,ATAN-3G66750,0,CTTGACTTAATCCTCAAAACCAAATCTAACCTTAACAAGGAAAGTC...,ath-an1,AT3G49100,HOM04D004899
3,ATAN-3G40170,0,ATATAAAAAGTAGACTCAAAATGCCTTTTTATTATTATTTTCGGCA...,ath-an1,AT3G27150,HOM04D000675
4,ATAN-5G66410,1,AAGCAAAAAAGCTATTATCGTCCCATTGTGATATGTTTGAATTTTT...,ath-an1,AT5G45310,HOM04D006599
...,...,...,...,...,...,...
13591,ATSHA-1G32710,0,TCAACGAATAAGGAATTCAAAAAGGAGCTCAAAATCGAAAAAGATC...,ath-sha,AT1G21200,HOM04D001324
13592,ATSHA-1G17160,1,AGTCTTGAAAAGTTGACCTAATTTAGATCAAATTAAGGTTAACTAC...,ath-sha,AT1G07430,HOM04D000397
13593,ATSHA-2G55860,0,TTGTCTCTATTATCGAATCTTATACTAACATCTTAGTTAGTACATA...,ath-sha,AT2G36740,HOM04D006542
13594,ATSHA-5G86510,0,AGATTTCCGTCGGTCTATTTATTTATTATCTTTAATTTTCAGTATC...,ath-sha,AT5G61970,HOM04D000550
13595,ATSHA-1G29120,1,AAATTTTAAATCATTAAAACACTACTCATACCCCCACTAGGCACTA...,ath-sha,AT1G17940,HOM04D001747

### One-hot-encode & reverse-complement both dataset as augmented dataset

In [125]:
from src.prepare_dataset import one_hot_encode_series, reverse_complement_series, reverse_complement_sequence
dataset["One_hot_encoded"] = one_hot_encode_series(dataset["Sequence"])
phylo_aug_df["One_hot_encoded"] = one_hot_encode_series(phylo_aug_df["Sequence"])

In [126]:
dataset["RC_one_hot_encoded"] = reverse_complement_series(dataset["One_hot_encoded"])
phylo_aug_df["RC_one_hot_encoded"] = reverse_complement_series(phylo_aug_df["One_hot_encoded"])

In [127]:
dataset

,GeneID,Label,GeneFamily,Sequence,One_hot_encoded,RC_one_hot_encoded
0,AT4G27120,0,HOM04D000881,TAGAGAAGACAAGCGGTTATTTCGTAATTTCCCAGCGACTTTGAAA...,"[[0, 0, 0, 1], [1, 0, 0, 0], [0, 0, 1, 0], [1,...","[[1, 0, 0, 0], [0, 0, 1, 0], [0, 0, 1, 0], [0,..."
1,AT4G19600,0,HOM04D000740,GTCAAGTAGTGAAATCAAGGTGTGAAGTAAGCTGAGGACAGATAAT...,"[[0, 0, 1, 0], [0, 0, 0, 1], [0, 1, 0, 0], [1,...","[[0, 0, 1, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,..."
2,AT3G60880,0,HOM04D003119,AGTTGATATTGAATGAAATCTTCATGTTTTTTGATAAATGATTATA...,"[[1, 0, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 0, 1, 0], [1, 0, 0, 0], [0,..."
3,AT5G06960,0,HOM04D000319,CACTTGTCAGATTCTTCTTACCAAATCCATCAACAAATAAGCAAAT...,"[[0, 1, 0, 0], [1, 0, 0, 0], [0, 1, 0, 0], [0,...","[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [1,..."
4,AT1G14890,0,HOM04D000273,TTGATATAACAGATTCAACACTAAAAATGAGTAAAATCTAAAAAAG...,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 1, 0], [1,...","[[0, 0, 0, 1], [1, 0, 0, 0], [0, 0, 0, 1], [1,..."
...,...,...,...,...,...,...
2393,AT5G64230,1,HOM04D003278,AAGAAAGAAAAACCGTACATAAACACCCATCTGGTATACCATCGTC...,"[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [1,...","[[0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."
2394,AT5G64780,1,HOM04D002552,TTTTAGAAAGAAGAAGAAGGATTATTGCCTTATTGGTGAAGGGAAG...,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 0, 1, 0], [1, 0, 0, 0], [0,..."
2395,AT4G30470,1,HOM04D000082,TATGTACAGTCTCTACATTTTTTCAAATACATTTTTTTCTTTTTCA...,"[[0, 0, 0, 1], [1, 0, 0, 0], [0, 0, 0, 1], [0,...","[[1, 0, 0, 0], [0, 0, 1, 0], [0, 0, 1, 0], [0,..."
2396,AT3G51895,1,HOM04D000270,TGGTAAATAATTAAATATATAAGAACATTATTCTAAAGCGTTGAAT...,"[[0, 0, 0, 1], [0, 0, 1, 0], [0, 0, 1, 0], [0,...","[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 1, 0], [1,..."
2397,AT2G35585,1,HOM04D004118,TTTTGCCACTGCTGGCTCTGATGGTGCTTTCAATTTCTAGGACAAG...,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 0, 1], [0,...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 1, 0, 0], [0,..."

In [128]:
phylo_aug_df

,GeneID,Label,Sequence,Species,Ortholog,GeneFamily,One_hot_encoded,RC_one_hot_encoded
0,ATAN-3G78750,1,TTCAGGAGATTTTTGTTATCTTTGGTGAAAATAGAGTCAAACTCGG...,ath-an1,AT3G60150,HOM04D006128,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 1, 0, 0], [1,...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."
1,ATAN-3G15180,0,CAGAGTCACATCGTACATGCCATTGGTTCCAACAGAGAGGATCTCA...,ath-an1,AT3G05510,HOM04D002504,"[[0, 1, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [1,...","[[0, 0, 1, 0], [0, 0, 0, 1], [0, 0, 0, 1], [0,..."
2,ATAN-3G66750,0,CTTGACTTAATCCTCAAAACCAAATCTAACCTTAACAAGGAAAGTC...,ath-an1,AT3G49100,HOM04D004899,"[[0, 1, 0, 0], [0, 0, 0, 1], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
3,ATAN-3G40170,0,ATATAAAAAGTAGACTCAAAATGCCTTTTTATTATTATTTTCGGCA...,ath-an1,AT3G27150,HOM04D000675,"[[1, 0, 0, 0], [0, 0, 0, 1], [1, 0, 0, 0], [0,...","[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [1,..."
4,ATAN-5G66410,1,AAGCAAAAAAGCTATTATCGTCCCATTGTGATATGTTTGAATTTTT...,ath-an1,AT5G45310,HOM04D006599,"[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [0,...","[[0, 0, 1, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,..."
...,...,...,...,...,...,...,...,...
13591,ATSHA-1G32710,0,TCAACGAATAAGGAATTCAAAAAGGAGCTCAAAATCGAAAAAGATC...,ath-sha,AT1G21200,HOM04D001324,"[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [1,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 1, 0, 0], [0,..."
13592,ATSHA-1G17160,1,AGTCTTGAAAAGTTGACCTAATTTAGATCAAATTAAGGTTAACTAC...,ath-sha,AT1G07430,HOM04D000397,"[[1, 0, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
13593,ATSHA-2G55860,0,TTGTCTCTATTATCGAATCTTATACTAACATCTTAGTTAGTACATA...,ath-sha,AT2G36740,HOM04D006542,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 1, 0], [0,...","[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
13594,ATSHA-5G86510,0,AGATTTCCGTCGGTCTATTTATTTATTATCTTTAATTTTCAGTATC...,ath-sha,AT5G61970,HOM04D000550,"[[1, 0, 0, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [0,..."
13595,ATSHA-1G29120,1,AAATTTTAAATCATTAAAACACTACTCATACCCCCACTAGGCACTA...,ath-sha,AT1G17940,HOM04D001747,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [1,..."

In [129]:
phylo_aug_df = phylo_aug_df[phylo_aug_df["GeneFamily"].notna()]
phylo_aug_df

,GeneID,Label,Sequence,Species,Ortholog,GeneFamily,One_hot_encoded,RC_one_hot_encoded
0,ATAN-3G78750,1,TTCAGGAGATTTTTGTTATCTTTGGTGAAAATAGAGTCAAACTCGG...,ath-an1,AT3G60150,HOM04D006128,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 1, 0, 0], [1,...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."
1,ATAN-3G15180,0,CAGAGTCACATCGTACATGCCATTGGTTCCAACAGAGAGGATCTCA...,ath-an1,AT3G05510,HOM04D002504,"[[0, 1, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [1,...","[[0, 0, 1, 0], [0, 0, 0, 1], [0, 0, 0, 1], [0,..."
2,ATAN-3G66750,0,CTTGACTTAATCCTCAAAACCAAATCTAACCTTAACAAGGAAAGTC...,ath-an1,AT3G49100,HOM04D004899,"[[0, 1, 0, 0], [0, 0, 0, 1], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
3,ATAN-3G40170,0,ATATAAAAAGTAGACTCAAAATGCCTTTTTATTATTATTTTCGGCA...,ath-an1,AT3G27150,HOM04D000675,"[[1, 0, 0, 0], [0, 0, 0, 1], [1, 0, 0, 0], [0,...","[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [1,..."
4,ATAN-5G66410,1,AAGCAAAAAAGCTATTATCGTCCCATTGTGATATGTTTGAATTTTT...,ath-an1,AT5G45310,HOM04D006599,"[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [0,...","[[0, 0, 1, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,..."
...,...,...,...,...,...,...,...,...
13591,ATSHA-1G32710,0,TCAACGAATAAGGAATTCAAAAAGGAGCTCAAAATCGAAAAAGATC...,ath-sha,AT1G21200,HOM04D001324,"[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [1,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 1, 0, 0], [0,..."
13592,ATSHA-1G17160,1,AGTCTTGAAAAGTTGACCTAATTTAGATCAAATTAAGGTTAACTAC...,ath-sha,AT1G07430,HOM04D000397,"[[1, 0, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
13593,ATSHA-2G55860,0,TTGTCTCTATTATCGAATCTTATACTAACATCTTAGTTAGTACATA...,ath-sha,AT2G36740,HOM04D006542,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 1, 0], [0,...","[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
13594,ATSHA-5G86510,0,AGATTTCCGTCGGTCTATTTATTTATTATCTTTAATTTTCAGTATC...,ath-sha,AT5G61970,HOM04D000550,"[[1, 0, 0, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [0,..."
13595,ATSHA-1G29120,1,AAATTTTAAATCATTAAAACACTACTCATACCCCCACTAGGCACTA...,ath-sha,AT1G17940,HOM04D001747,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [1,..."

In [143]:
dataset.shape[0]

2398

In [142]:
phylo_aug_df

,GeneID,Label,Sequence,Species,Ortholog,GeneFamily,One_hot_encoded,RC_one_hot_encoded
0,ATAN-3G78750,1,TTCAGGAGATTTTTGTTATCTTTGGTGAAAATAGAGTCAAACTCGG...,ath-an1,AT3G60150,HOM04D006128,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 1, 0, 0], [1,...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."
1,ATAN-3G15180,0,CAGAGTCACATCGTACATGCCATTGGTTCCAACAGAGAGGATCTCA...,ath-an1,AT3G05510,HOM04D002504,"[[0, 1, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [1,...","[[0, 0, 1, 0], [0, 0, 0, 1], [0, 0, 0, 1], [0,..."
2,ATAN-3G66750,0,CTTGACTTAATCCTCAAAACCAAATCTAACCTTAACAAGGAAAGTC...,ath-an1,AT3G49100,HOM04D004899,"[[0, 1, 0, 0], [0, 0, 0, 1], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
3,ATAN-3G40170,0,ATATAAAAAGTAGACTCAAAATGCCTTTTTATTATTATTTTCGGCA...,ath-an1,AT3G27150,HOM04D000675,"[[1, 0, 0, 0], [0, 0, 0, 1], [1, 0, 0, 0], [0,...","[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [1,..."
4,ATAN-5G66410,1,AAGCAAAAAAGCTATTATCGTCCCATTGTGATATGTTTGAATTTTT...,ath-an1,AT5G45310,HOM04D006599,"[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [0,...","[[0, 0, 1, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,..."
...,...,...,...,...,...,...,...,...
13591,ATSHA-1G32710,0,TCAACGAATAAGGAATTCAAAAAGGAGCTCAAAATCGAAAAAGATC...,ath-sha,AT1G21200,HOM04D001324,"[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [1,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 1, 0, 0], [0,..."
13592,ATSHA-1G17160,1,AGTCTTGAAAAGTTGACCTAATTTAGATCAAATTAAGGTTAACTAC...,ath-sha,AT1G07430,HOM04D000397,"[[1, 0, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
13593,ATSHA-2G55860,0,TTGTCTCTATTATCGAATCTTATACTAACATCTTAGTTAGTACATA...,ath-sha,AT2G36740,HOM04D006542,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 1, 0], [0,...","[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
13594,ATSHA-5G86510,0,AGATTTCCGTCGGTCTATTTATTTATTATCTTTAATTTTCAGTATC...,ath-sha,AT5G61970,HOM04D000550,"[[1, 0, 0, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [0,..."
13595,ATSHA-1G29120,1,AAATTTTAAATCATTAAAACACTACTCATACCCCCACTAGGCACTA...,ath-sha,AT1G17940,HOM04D001747,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [1,..."

### Train-test split

In [130]:
from src.prepare_dataset import grouped_shuffle_split
train_df, validation_test_df = grouped_shuffle_split(dataset, dataset["GeneFamily"], 0.2)

In [134]:
validation_df, test_df  = grouped_shuffle_split(validation_test_df, validation_test_df["GeneFamily"], 0.5)

In [135]:
print(f"Length of training set: {train_df.shape[0]}")
print(f"Length of validation set: {validation_df.shape[0]}")
print(f"Length of test set: {test_df.shape[0]}")

Length of training set: 1900
Length of validation set: 257
Length of test set: 241

## Append train and augmentation dataframe

Filter out the orthologs from samples in test or validation

In [137]:
validation_test_df["GeneID"]

1       AT4G19600
2       AT3G60880
4       AT1G14890
10      AT5G06970
22      AT4G38790
          ...
2384    AT4G32940
2386    AT5G47020
2390    AT3G60670
2393    AT5G64230
2395    AT4G30470
Name: GeneID, Length: 498, dtype: object

In [138]:
filtered_phylo_aug_df = phylo_aug_df[~phylo_aug_df["Ortholog"].isin(validation_test_df["GeneID"])]

In [139]:
filtered_phylo_aug_df

,GeneID,Label,Sequence,Species,Ortholog,GeneFamily,One_hot_encoded,RC_one_hot_encoded
0,ATAN-3G78750,1,TTCAGGAGATTTTTGTTATCTTTGGTGAAAATAGAGTCAAACTCGG...,ath-an1,AT3G60150,HOM04D006128,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 1, 0, 0], [1,...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."
2,ATAN-3G66750,0,CTTGACTTAATCCTCAAAACCAAATCTAACCTTAACAAGGAAAGTC...,ath-an1,AT3G49100,HOM04D004899,"[[0, 1, 0, 0], [0, 0, 0, 1], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
3,ATAN-3G40170,0,ATATAAAAAGTAGACTCAAAATGCCTTTTTATTATTATTTTCGGCA...,ath-an1,AT3G27150,HOM04D000675,"[[1, 0, 0, 0], [0, 0, 0, 1], [1, 0, 0, 0], [0,...","[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [1,..."
4,ATAN-5G66410,1,AAGCAAAAAAGCTATTATCGTCCCATTGTGATATGTTTGAATTTTT...,ath-an1,AT5G45310,HOM04D006599,"[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [0,...","[[0, 0, 1, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,..."
5,ATAN-2G52300,0,GTCCAAATAATACAATGTGGATTTGTCGTCAACGAAATCCATATCG...,ath-an1,AT2G33470,HOM04D001386,"[[0, 0, 1, 0], [0, 0, 0, 1], [0, 1, 0, 0], [0,...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."
...,...,...,...,...,...,...,...,...
13590,ATSHA-4G51420,1,GTATTTGTTTTTTTTATCTTGGTTTTGTAAATATTATTCAATTATT...,ath-sha,AT4G23880,HOM04D009608,"[[0, 0, 1, 0], [0, 0, 0, 1], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [1, 0, 0, 0], [1, 0, 0, 0], [0,..."
13591,ATSHA-1G32710,0,TCAACGAATAAGGAATTCAAAAAGGAGCTCAAAATCGAAAAAGATC...,ath-sha,AT1G21200,HOM04D001324,"[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [1,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 1, 0, 0], [0,..."
13593,ATSHA-2G55860,0,TTGTCTCTATTATCGAATCTTATACTAACATCTTAGTTAGTACATA...,ath-sha,AT2G36740,HOM04D006542,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 1, 0], [0,...","[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
13594,ATSHA-5G86510,0,AGATTTCCGTCGGTCTATTTATTTATTATCTTTAATTTTCAGTATC...,ath-sha,AT5G61970,HOM04D000550,"[[1, 0, 0, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [0,..."
13595,ATSHA-1G29120,1,AAATTTTAAATCATTAAAACACTACTCATACCCCCACTAGGCACTA...,ath-sha,AT1G17940,HOM04D001747,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [1,..."

In [140]:
training_phylo_aug_df = filtered_phylo_aug_df.drop(["Species", "Ortholog"], axis=1)
training_phylo_aug_df

,GeneID,Label,Sequence,GeneFamily,One_hot_encoded,RC_one_hot_encoded
0,ATAN-3G78750,1,TTCAGGAGATTTTTGTTATCTTTGGTGAAAATAGAGTCAAACTCGG...,HOM04D006128,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 1, 0, 0], [1,...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."
2,ATAN-3G66750,0,CTTGACTTAATCCTCAAAACCAAATCTAACCTTAACAAGGAAAGTC...,HOM04D004899,"[[0, 1, 0, 0], [0, 0, 0, 1], [0, 0, 0, 1], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
3,ATAN-3G40170,0,ATATAAAAAGTAGACTCAAAATGCCTTTTTATTATTATTTTCGGCA...,HOM04D000675,"[[1, 0, 0, 0], [0, 0, 0, 1], [1, 0, 0, 0], [0,...","[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [1,..."
4,ATAN-5G66410,1,AAGCAAAAAAGCTATTATCGTCCCATTGTGATATGTTTGAATTTTT...,HOM04D006599,"[[1, 0, 0, 0], [1, 0, 0, 0], [0, 0, 1, 0], [0,...","[[0, 0, 1, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,..."
5,ATAN-2G52300,0,GTCCAAATAATACAATGTGGATTTGTCGTCAACGAAATCCATATCG...,HOM04D001386,"[[0, 0, 1, 0], [0, 0, 0, 1], [0, 1, 0, 0], [0,...","[[0, 0, 1, 0], [0, 0, 1, 0], [0, 0, 0, 1], [0,..."
...,...,...,...,...,...,...
13590,ATSHA-4G51420,1,GTATTTGTTTTTTTTATCTTGGTTTTGTAAATATTATTCAATTATT...,HOM04D009608,"[[0, 0, 1, 0], [0, 0, 0, 1], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [1, 0, 0, 0], [1, 0, 0, 0], [0,..."
13591,ATSHA-1G32710,0,TCAACGAATAAGGAATTCAAAAAGGAGCTCAAAATCGAAAAAGATC...,HOM04D001324,"[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [1,...","[[0, 0, 0, 1], [0, 1, 0, 0], [0, 1, 0, 0], [0,..."
13593,ATSHA-2G55860,0,TTGTCTCTATTATCGAATCTTATACTAACATCTTAGTTAGTACATA...,HOM04D006542,"[[0, 0, 0, 1], [0, 0, 0, 1], [0, 0, 1, 0], [0,...","[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 0, 1], [0,..."
13594,ATSHA-5G86510,0,AGATTTCCGTCGGTCTATTTATTTATTATCTTTAATTTTCAGTATC...,HOM04D000550,"[[1, 0, 0, 0], [0, 0, 1, 0], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [0,..."
13595,ATSHA-1G29120,1,AAATTTTAAATCATTAAAACACTACTCATACCCCCACTAGGCACTA...,HOM04D001747,"[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [0,...","[[0, 0, 0, 1], [0, 1, 0, 0], [1, 0, 0, 0], [1,..."

In [141]:
augmented_train = pd.concat([training_phylo_aug_df, train_df])

## Prepare input

In [74]:
def get_input_and_labels(df):
	ohe_np = np.stack(df["One_hot_encoded"])
	rc_np = np.stack(df["RC_one_hot_encoded"])

	x = np.append(ohe_np, rc_np, axis=0)
	x = x.astype('float32')
	y = np.append(df["Label"], df["Label"])
	y = y.astype('int64')
	return x, y

In [75]:
x_train, y_train = get_input_and_labels(augmented_train)
x_validation, y_validation = get_input_and_labels(validation_df)

## Prepare model

As the model uses evo augmentation, a list of possible nucleotide operations needs to be given

In [79]:
augment_list = [
    augment.RandomRC(rc_prob=0.5),
    augment.RandomInsertionBatch(insert_min=0, insert_max=20),
    augment.RandomDeletion(delete_min=0, delete_max=30),
    augment.RandomTranslocationBatch(shift_min=0, shift_max=20),
    augment.RandomMutation(mutate_frac=0.05),
    augment.RandomNoise()
]

Get the shape of the input data

In [80]:
input_shape = train_df["One_hot_encoded"].iloc[0].shape

Initialize the model

In [81]:
model = get_model(input_shape=input_shape, perform_evoaug=False, augment_list=augment_list,learning_rate=0.001)

## Train the model

In [82]:
# early stopping callback
import tensorflow as tf

early_stopping_callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss',
											patience=20,
											verbose=1,
											mode='min',
											restore_best_weights=True)
# reduce learning rate callback
reduce_lr = tf.keras.callbacks.ReduceLROnPlateau(monitor='val_loss',
												factor=0.1,
												patience=5,
												min_lr=1e-7,
												mode='min',
												verbose=1)
callbacks = [early_stopping_callback, reduce_lr]

In [84]:
history = model.fit(x_train,
					y_train,
					epochs=100,
					batch_size=100,
					validation_data=(x_validation, y_validation),
					callbacks=callbacks
					)

6/6 [==============================] - 6s 1s/step - loss: 0.6421 - acc: 0.6342 - auROC: 0.6866 - auPRC: 0.6402 - true_positives_1: 173.0000 - val_loss: 0.6133 - val_acc: 0.6634 - val_auROC: 0.7326 - val_auPRC: 0.7187 - val_true_positives_1: 163.0000 - lr: 0.0010

In [ ]:
model.save('/group/transreg/sathi/DeepDifE/data/models/phylo_aug_accession.h5')

In [89]:
model = tf.keras.models.load_model('/group/transreg/sathi/DeepDifE/data/models/phylo_aug_accession.h5')

### Finetune phylo-aug

In [ ]:
x_train_pure, y_train_pure = get_input_and_labels(train_df)

In [23]:
from tensorflow import keras

# set up callbacks
early_stopping_callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss',
											patience=10,
											verbose=1,
											mode='min',
											restore_best_weights=True)
# train model
model.fit(x_train_pure, y_train_pure,
                epochs=20,
                batch_size=100,
                shuffle=True,
                validation_data=(x_validation, y_validation),
                callbacks=[early_stopping_callback])

Epoch 1/20
38/38 [==============================] - 42s 1s/step - loss: 0.5584 - acc: 0.7108 - auROC: 0.7895 - auPRC: 0.7737 - true_positives: 1240.0000 - auroc: 0.7895 - val_loss: 0.5943 - val_acc: 0.6829 - val_auROC: 0.7452 - val_auPRC: 0.7493 - val_true_positives: 186.0000 - val_auroc: 0.7452
Epoch 2/20
38/38 [==============================] - 43s 1s/step - loss: 0.5700 - acc: 0.6992 - auROC: 0.7770 - auPRC: 0.7706 - true_positives: 1219.0000 - auroc: 0.7770 - val_loss: 0.5947 - val_acc: 0.6868 - val_auROC: 0.7450 - val_auPRC: 0.7507 - val_true_positives: 184.0000 - val_auroc: 0.7450
Epoch 3/20
38/38 [==============================] - 42s 1s/step - loss: 0.5627 - acc: 0.7071 - auROC: 0.7826 - auPRC: 0.7680 - true_positives: 1242.0000 - auroc: 0.7826 - val_loss: 0.5963 - val_acc: 0.6887 - val_auROC: 0.7417 - val_auPRC: 0.7482 - val_true_positives: 188.0000 - val_auroc: 0.7417
Epoch 4/20
38/38 [==============================] - 42s 1s/step - loss: 0.5567 - acc: 0.7042 - auROC: 0.7878 - auPRC: 0.7742 - true_positives: 1229.0000 - auroc: 0.7878 - val_loss: 0.5937 - val_acc: 0.6887 - val_auROC: 0.7453 - val_auPRC: 0.7499 - val_true_positives: 185.0000 - val_auroc: 0.7453
Epoch 5/20
38/38 [==============================] - 40s 1s/step - loss: 0.5532 - acc: 0.7116 - auROC: 0.7930 - auPRC: 0.7829 - true_positives: 1263.0000 - auroc: 0.7930 - val_loss: 0.5955 - val_acc: 0.6790 - val_auROC: 0.7442 - val_auPRC: 0.7503 - val_true_positives: 180.0000 - val_auroc: 0.7442
Epoch 6/20
38/38 [==============================] - 41s 1s/step - loss: 0.5545 - acc: 0.7147 - auROC: 0.7909 - auPRC: 0.7744 - true_positives: 1267.0000 - auroc: 0.7909 - val_loss: 0.5956 - val_acc: 0.6868 - val_auROC: 0.7422 - val_auPRC: 0.7481 - val_true_positives: 186.0000 - val_auroc: 0.7422
Epoch 7/20
38/38 [==============================] - 44s 1s/step - loss: 0.5612 - acc: 0.7076 - auROC: 0.7842 - auPRC: 0.7749 - true_positives: 1256.0000 - auroc: 0.7842 - val_loss: 0.5973 - val_acc: 0.6790 - val_auROC: 0.7409 - val_auPRC: 0.7445 - val_true_positives: 180.0000 - val_auroc: 0.7409
Epoch 8/20
38/38 [==============================] - 44s 1s/step - loss: 0.5543 - acc: 0.7179 - auROC: 0.7911 - auPRC: 0.7754 - true_positives: 1297.0000 - auroc: 0.7911 - val_loss: 0.5957 - val_acc: 0.6809 - val_auROC: 0.7423 - val_auPRC: 0.7471 - val_true_positives: 184.0000 - val_auroc: 0.7423
Epoch 9/20
38/38 [==============================] - 40s 1s/step - loss: 0.5468 - acc: 0.7182 - auROC: 0.7959 - auPRC: 0.7845 - true_positives: 1308.0000 - auroc: 0.7959 - val_loss: 0.5948 - val_acc: 0.6770 - val_auROC: 0.7440 - val_auPRC: 0.7494 - val_true_positives: 184.0000 - val_auroc: 0.7440
Epoch 10/20
38/38 [==============================] - 40s 1s/step - loss: 0.5603 - acc: 0.7105 - auROC: 0.7847 - auPRC: 0.7692 - true_positives: 1256.0000 - auroc: 0.7847 - val_loss: 0.5959 - val_acc: 0.6829 - val_auROC: 0.7421 - val_auPRC: 0.7458 - val_true_positives: 187.0000 - val_auroc: 0.7421
Epoch 11/20
38/38 [==============================] - 44s 1s/step - loss: 0.5541 - acc: 0.7163 - auROC: 0.7909 - auPRC: 0.7730 - true_positives: 1301.0000 - auroc: 0.7909 - val_loss: 0.5952 - val_acc: 0.6887 - val_auROC: 0.7438 - val_auPRC: 0.7482 - val_true_positives: 185.0000 - val_auroc: 0.7438
Epoch 12/20
38/38 [==============================] - 39s 1s/step - loss: 0.5664 - acc: 0.7068 - auROC: 0.7805 - auPRC: 0.7635 - true_positives: 1268.0000 - auroc: 0.7805 - val_loss: 0.5950 - val_acc: 0.6907 - val_auROC: 0.7437 - val_auPRC: 0.7471 - val_true_positives: 188.0000 - val_auroc: 0.7437
Epoch 13/20
38/38 [==============================] - 45s 1s/step - loss: 0.5565 - acc: 0.7118 - auROC: 0.7882 - auPRC: 0.7737 - true_positives: 1277.0000 - auroc: 0.7882 - val_loss: 0.5924 - val_acc: 0.6907 - val_auROC: 0.7465 - val_auPRC: 0.7508 - val_true_positives: 188.0000 - val_auroc: 0.7465
Epoch 14/20
38/38 [==============================] - 45s 1s/step - loss: 0.5519 - acc: 0.7145 - auROC: 0.7919 - auPRC: 0.7786 - true_positives: 1277.0000 - auroc: 0.7919 - val_loss: 0.5940 - val_acc: 0.6809 - val_auROC: 0.7460 - val_auPRC: 0.7544 - val_true_positives: 185.0000 - val_auroc: 0.7460
Epoch 15/20
38/38 [==============================] - 41s 1s/step - loss: 0.5563 - acc: 0.7087 - auROC: 0.7867 - auPRC: 0.7801 - true_positives: 1273.0000 - auroc: 0.7867 - val_loss: 0.5920 - val_acc: 0.6965 - val_auROC: 0.7476 - val_auPRC: 0.7530 - val_true_positives: 192.0000 - val_auroc: 0.7476
Epoch 16/20
38/38 [==============================] - 40s 1s/step - loss: 0.5461 - acc: 0.7263 - auROC: 0.7993 - auPRC: 0.7850 - true_positives: 1324.0000 - auroc: 0.7993 - val_loss: 0.5927 - val_acc: 0.6887 - val_auROC: 0.7447 - val_auPRC: 0.7510 - val_true_positives: 190.0000 - val_auroc: 0.7447
Epoch 17/20
38/38 [==============================] - 43s 1s/step - loss: 0.5558 - acc: 0.7092 - auROC: 0.7889 - auPRC: 0.7757 - true_positives: 1264.0000 - auroc: 0.7889 - val_loss: 0.5942 - val_acc: 0.6829 - val_auROC: 0.7456 - val_auPRC: 0.7515 - val_true_positives: 188.0000 - val_auroc: 0.7456
Epoch 18/20
38/38 [==============================] - 34s 903ms/step - loss: 0.5499 - acc: 0.7121 - auROC: 0.7929 - auPRC: 0.7803 - true_positives: 1287.0000 - auroc: 0.7929 - val_loss: 0.5977 - val_acc: 0.6770 - val_auROC: 0.7386 - val_auPRC: 0.7455 - val_true_positives: 186.0000 - val_auroc: 0.7386
Epoch 19/20
38/38 [==============================] - 42s 1s/step - loss: 0.5521 - acc: 0.7216 - auROC: 0.7949 - auPRC: 0.7859 - true_positives: 1314.0000 - auroc: 0.7949 - val_loss: 0.5942 - val_acc: 0.6965 - val_auROC: 0.7441 - val_auPRC: 0.7496 - val_true_positives: 194.0000 - val_auroc: 0.7441
Epoch 20/20
38/38 [==============================] - 42s 1s/step - loss: 0.5593 - acc: 0.7042 - auROC: 0.7877 - auPRC: 0.7780 - true_positives: 1252.0000 - auroc: 0.7877 - val_loss: 0.5959 - val_acc: 0.6751 - val_auROC: 0.7424 - val_auPRC: 0.7488 - val_true_positives: 186.0000 - val_auroc: 0.7424

## Test set

We perform post-hoc conjoing

In [24]:
siamese_model = get_siamese_model(model.model)

Prepare the test set data

In [25]:
x_test = np.stack(test_df["One_hot_encoded"])
x_test_rc = np.stack(test_df["RC_one_hot_encoded"])

In [26]:
y_test = test_df["Label"].to_numpy()

As we used evo aug in our model all the sequences which were trained on, were of length 620. We use the evoaug padding function to pad the test set to the same length

In [27]:
x_test = model._pad_end(x_test)
x_test_rc = model._pad_end(x_test_rc)

In [28]:
predictions_categories, predictions = post_hoc_conjoining(siamese_model, x_test, x_test_rc)

8/8 [==============================] - 5s 623ms/step

In [29]:
get_auroc(y_test, predictions)

0.8167013167013167

In [30]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions_categories))

              precision    recall  f1-score   support

           0       0.71      0.74      0.72       111
           1       0.77      0.74      0.75       130

    accuracy                           0.74       241
   macro avg       0.74      0.74      0.74       241
weighted avg       0.74      0.74      0.74       241